/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap%27%27');

*{
font-family: 'Titillium Web', sans-serif;
}

body{
background-color: #e4e4e4;

}

h1 {
color: black;
text-align: center;
font-size: 32px;
}

.container h1{
font-size: 32px;
}

.container {
display: flex;
justify-content: center;
align-items: center;
}

.g_usuarios, .g_ayudas {
width: 800px;
height: 300px;
align-items: center;
align-content: center;
text-align: center;
background-color: white;
margin: 0 10px;
font-size: 20px;
border-radius: 5px;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 20px;

}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;

}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #c3cdf0;
    color: #66629d;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #66629d;
    color: #c3cdf0;
}


a {
    text-decoration: none;
    color: black;
}