/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap%27');
* {
    font-family: 'Titillium Web', sans-serif;
}
*{
    align-content: center;
    text-align: center;
    align-items: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* Estilos específicos para el formulario */
.form-container {
    margin-bottom: 20px;
}

.form-container form {
    margin-bottom: 10px;
}

.form-container label {
    width: 150px;
}

